<table>
    <tr>
        <td><a href="{{site.baseurl}}">Home</a></td>
        <td><a href="{{site.baseurl}}/mario">Mario</a></td>
        <td><a href="{{site.baseurl}}/mario1">Mario 1</a></td>
        <td><a href="{{site.baseurl}}/levels/mario2">Mario 2</a></td>
        <td><a href="{{site.baseurl}}/levels/mario3">Mario 3</a></td>
        <td><a href="{{site.baseurl}}/levels/mario4">Mario 4</a></td>
        <td><a href="{{site.baseurl}}/background">Background</a></td>
        <td><a href="{{site.baseurl}}/levels/yoshi2">Yoshi</a></td>
        <td><a href="{{site.baseurl}}/levels/level1">Level 1</a></td>

    </tr>
</table>
